@media (min-width: 768px) and (max-width: 1200px)  {
    
    nav{
        font-size: 16px;
    }

   main,p{
    font-size: 16px;
    
   }
    article{
        font-size: 16px;
    }

    

}

@media (max-width: 767px) {
  nav{
        font-size: 14px;
    }

   main,p{
    font-size: 14px;
   }
    article{
        font-size: 14px;
    }

    footer{
        font-size: 14px;
    }
}